.job-container{
    margin: 56px 24px 0;
}
.job{
    position: relative;
    padding: 32px 24px 25px 19px;
    background-color: hsl(0, 0%, 100%);
    margin-bottom: -15px;
    border-radius: 5px;
    border-left: 5px solid hsl(0, 0%, 100%);
    box-shadow: 0 10px 16px hsla(180, 70%, 11%, 0.09);
}
.featured-job{
    border-left-color: hsl(180, 29%, 50%);
}
.job img{
    position: absolute;
    width: 48px;
    top: -24px;
    left: 19px;
}
.company-details{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 15px;
    height: 24px;
}
.company{
    color: hsl(180, 29%, 50%);
    margin-right: 24px;
}
.new{
    background-color: hsl(180, 29%, 50%);
    color: hsl(0, 0%, 100%);
    padding: 7px 8px 4px;
    text-transform: uppercase;
    border-radius: 12px;
    font-size: 14px;
}
.featured{
    background-color: hsl(180, 14%, 20%);
    color: hsl(0, 0%, 100%);
    padding: 7px 8px 5px 9px;
    text-transform: uppercase;
    border-radius: 12px;
    font-size: 13px;
    margin-left: 8px;
    letter-spacing: 0.5px;
}
.job-details-container h1{
    flex-basis: 0;
    font-size: 15px;
    color: hsl(180, 14%, 20%);
    margin-top: 14px;
    cursor: pointer;
    width: max-content;
}
.job-details{
    padding: 18px 0 19px;
    color: hsl(180, 8%, 52%);
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 9px;
    border-bottom: 1px solid hsl(180, 8%, 52%);
}
.job-details .dot{
    font-weight: 900;
    transform: translateY(-22%);
}
.job-tags{
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.job-tags .filter-tablets{
    color: hsl(180, 29%, 50%);
    font-weight: 700;
    background-color: hsl(180, 31%, 95%);
    padding: 10px 9px 8px;
    border-radius: 5px;
    cursor: pointer;
}

@media (hover: hover){
    .job h1:hover{
        color: hsl(180, 29%, 50%);
    }
    .job-tags .filter-tablets:hover{
        color: hsl(180, 31%, 95%);
        background-color: hsl(180, 29%, 50%);
    }
}
.job h1:active{
    color: hsl(180, 29%, 50%);
}
.job-tags .filter-tablets:active{
    color: hsl(180, 31%, 95%);
    background-color: hsl(180, 29%, 50%);
}

@media (min-width: 426px){
    .job-container{
        display: flex;
        justify-content: center;
        width: calc(100% - 48px);
    }
    .job{
        width: 100%;
        max-width: 600px;
    }
    .company-details{
        font-size: 18px;
    }
    .job-details-container h1{
        font-size: 22px;
    }
}

@media (min-width: 1025px){
    .job-container{
        margin-top: 75px;
    }
    .job{
        width: 100%;
        max-width: 1110px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 146px;
        padding-right: 40px;
        padding-bottom: 36px;
        margin-bottom: -52px;
        border-left: 6px solid hsl(0, 0%, 100%);
    }
    .featured-job{
        border-left-color: hsl(180, 29%, 50%);
    }
    .job img{
        width: 88px;
        height: 88px;
        top: 32px;
        left: 35px;
    }
    .job-details{
        padding-bottom: 0px;
        padding-top: 12px;
        font-size: 18px;
        border-bottom: none;
        gap: 15px;
    }
    .job-tags{
        margin-top: 0px;
    }
    .company{
        margin-right: 16px;
    }
    .job-details-container h1{
        margin-top: 12px;
    }
}